div.container-fluid
{
    height:60px;
    background-color: #82E0AA;

}

.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
  }
  .active-cyan-3 input[type=text] {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
  }

  .active-cyan-3
  {
      padding-top: 10px;
      padding-bottom: 10px;
      width:50%;
      margin-left: 25%;
      position: relative;
      text-align: center;
  }

  .active-cyan-3 .form-control
  {
      width: 80%;
  }

  #div_title
{
    margin-top:61px;
}
